body {
    background-color: paleturquoise;
}

/*Банкомат*/

.atmUIFlex-container {
    display: flex;
    border: 2px dashed steelblue;
    border-radius: 50px;
    flex-direction: row;
    width: 85%;
    color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    background-color: mediumblue;
    flex-wrap: wrap;
}

.atmUIFlex-elements {
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aquamarine;
    height: 100px;
    min-width: 50px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Плюсик на добавление*/
.atmUIFlexPlus {
    width: 50px;
    background: url("./images/plus-square-solid.svg");
    height: 40%;
    opacity: 0.3;
    background-repeat: no-repeat;
}

.atmUIFlexPlus:hover {
    opacity: 1;
}

.atmUIFlexPlus:hover::after {
    position: relative;
    content: attr(data-title);
    z-index: 1;
    left: -150%;
    top: -10%;
}

.queueUIFlexPlus {
    width: 50px;
    background: url("./images/plus-square-solid.svg");
    height: 40%;
    opacity: 0.3;
    background-repeat: no-repeat;
}

.queueUIFlexPlus:hover {
    opacity: 1;
}

.queueUIFlexPlus:hover::after {
    position: relative;
    content: attr(data-title);
    z-index: 1;
    left: -150%;
    top: -40%;
}

/*Крестик на закрытие*/

.close1 {
    align-self: flex-start;
    margin-top: 5px;
    position: relative;
    right: -42%;
    width: 22px;
    background: url("./images/times-circle-solid.svg");
    height: 22px;
    opacity: 0.3;
}

.close1:hover {
    opacity: 1;
    content: attr(data-title);
}

.close1:hover::after {
    position: relative;
    content: attr(data-title);
    z-index: 1;
    left: -210%;
    top: 80%; 
}

.close2 {
    align-self: flex-start;
    position: relative;
    margin-top: 5px;
    right: -46%;
    width: 22px;
    background: url("./images/times-circle-solid.svg");
    height: 22px;
    opacity: 0.3;
}

.close2:hover {
    opacity: 1;
}

.close2:hover::after {
    position: relative;
    content: attr(data-title);
    z-index: 1;
    left: -250%;
    top: -30%; 
}

/*Очередь*/

.queueUIFlex-container {
    display: flex;
    border: 4px dashed steelblue;
    border-radius: 50px;
    width: 85%;
    color: black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background-color: yellow;
    flex-wrap: wrap;
}

.queueUIFlex-elements {
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: greenyellow;
    height: 40px;
    text-align: center;
    float: left;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}